body{
  text-align: center;
}
header {
  background-color: #404041;
  color: #ed458b;
}

span {
  color: #e6e7e8;
}

#user-guess {
  display: block;
  margin: 20px auto;
  width: 30%;
  padding: 5px 10px;
}

button{
  border-radius: 25px;
  border: none;
  padding: 8px 50px;
}

button:disabled {
  background-color: #d0d2d3;
  color: #fff;
}
